body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:751px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:751px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:87px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1055px;
  width:1440px;
  height:87px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:748px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:307px;
  width:1440px;
  height:748px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:139px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:831px;
  width:443px;
  height:139px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:93px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:323px;
  width:443px;
  height:93px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:79px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:485px;
  width:443px;
  height:79px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:749px;
  width:440px;
  height:72px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:428px;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:5px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:811px;
  width:14px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:714px;
  width:64px;
  height:35px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:64px;
  white-space:nowrap;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:821px;
  width:440px;
  height:24px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:449px;
  width:306px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:286px;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:416px;
  width:36px;
  height:35px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  white-space:nowrap;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:481px;
  width:306px;
  height:24px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:461px;
  width:14px;
  height:9px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:461px;
  width:6px;
  height:8px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:2px;
  word-wrap:break-word;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:564px;
  width:78px;
  height:34px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:78px;
  white-space:nowrap;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:600px;
  width:104px;
  height:104px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:608px;
  width:88px;
  height:88px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:600px;
  width:104px;
  height:104px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:100px;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:636px;
  width:24px;
  height:24px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:702px;
  width:440px;
  height:24px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:662px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:319px;
  width:509px;
  height:662px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
