body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1465px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:120px;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:816px;
  width:905px;
  height:120px;
}
#u1745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:807px;
  width:30px;
  height:30px;
}
#u1746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:778px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:1104px;
  width:1338px;
  height:778px;
}
#u1747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:613px;
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:1154px;
  width:677px;
  height:613px;
}
#u1748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1749_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1222px;
  width:30px;
  height:30px;
}
#u1749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
